:root {
  --bg-first-and-last: #2c3e50;
  --bg-light-green: #1abc9c;
  --bg-footer: #3a546d;
}

/* GENERAL */

.avatar {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

::placeholder {
  color: var(--bg-first-and-last);
  opacity: 1;
}

/* HEADER */
#header {
  height: 120px;
  line-height: 120px;

  background: var(--bg-first-and-last);
}

nav {
  background: var(--bg-first-and-last);
}

/* START BOOTSTRAP */

#start-bootstrap {
  background: var(--bg-light-green);
}

/* PORTFOLIO */

/* ABOUT */

#about {
  background: var(--bg-light-green);
}

/* CONTACT ME */

.form-text-color {
  color: var(--bg-first-and-last);
}

.send .btn-lg {
  background: var(--bg-light-green);
}

/* FOOTER TOP */

#footer-top {
  background: var(--bg-footer);
}

#footer-top .fa-brands {
  color: white;
}

.about_freelancer a {
  color: var(--bg-light-green);
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* FOOTER BOTTOM */

#footer-bottom {
  background: var(--bg-first-and-last);
}
