:root {
  --bg-first-and-last: #2c3e50;
  --bg-light-green: #1abc9c;
  --bg-footer: #3a546d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section,
footer {
  min-height: 50px;
}

/* HEADER */

nav {
  background: var(--bg-first-and-last);
}

/* START BOOTSTRAP */

#start-bootstrap {
  background: var(--bg-light-green);
}

/* PORTFOLIO */

/* ABOUT */

#about {
  background: var(--bg-light-green);
}

/* CONTACT ME */

/* FOOTER TOP */

#footer-top {
  background: var(--bg-footer);
}
/* FOOTER BOTTOM */

#footer-bottom {
  background: var(--bg-first-and-last);
}
